@font-face {
  font-family: 'Merriweather';
  src: url(./fonts/Merriweather-Regular.ttf);
}

body {
  font-family: 'Merriweather';
}

p {
  margin: 8px;
}

#board-display {
  display: grid;
  grid-template-rows: 40px 600px;
  grid-template-columns: 600px 600px;
  gap: 40px;
  align-self: center;
}

.page-layout {
  display: grid;
  grid-template-rows: 80px 100px 720px;
  grid-template-columns: 1fr;
  justify-items: center;
}

.board {
  background-color: seagreen;
  padding: 8px;

  display: grid;
  grid-template-rows: 30px 550px;
  grid-template-columns: 30px 550px;

  .x-coords {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10, 1fr);

    p {
      text-align: center;
    }
  }
  .y-coords {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;

    p {
      text-align: center;
    }
  }
}

.board-grid {
  border: solid 1px yellow;
  overflow-wrap: break-word;
  font-size: 15px;

  display: grid;
  grid-template-rows: repeat(10, 54.8px);
  grid-template-columns: repeat(10, 54.8px);

  .tile {
    border: solid 1px yellow;

    &:hover {
      background-color: chocolate;
      cursor: crosshair;
    }
  }
}

.player-name {
  text-align: center;
}

.has-ship-0 {
  background-color: cornflowerblue;
}

.has-ship-1 {
  background-color: darksalmon;
}

.has-ship-2 {
  background-color: aquamarine;
}

.has-ship-3 {
  background-color: blueviolet;
}

.has-ship-4 {
  background-color: chartreuse;
}
