@font-face {
  font-family: 'Merriweather';
  src: url(./fonts/Merriweather-Regular.ttf);
}

body {
  font-family: 'Merriweather';
}

#board-display {
  display: grid;
  grid-template-rows: 40px 600px;
  grid-template-columns: 600px 600px;
  gap: 40px;
  align-self: center;
}

.page-layout {
  display: grid;
  grid-template-rows: 80px 100px 720px;
  grid-template-columns: 1fr;
  justify-items: center;
}

.board {
  background-color: darkseagreen;

  display: grid;
  grid-template-rows: 1fr 20fr;
  grid-template-columns: 1fr 20fr;

  .x-coords {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10, 1fr);

    p {
      text-align: center;
    }
  }
  .y-coords {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;

    p {
      text-align: center;
    }
  }
  .board-grid {
    border: solid 1px yellow;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);

    * {
      border: solid 1px yellow;
    }
  }
}

.player-name {
  text-align: center;
}
