@font-face {
  font-family: 'Merriweather';
  src: url(./fonts/Merriweather-Regular.ttf);
}

body {
  font-family: 'Merriweather';
}

#board-display {
  display: grid;
  grid-template-rows: 600px;
  grid-template-columns: 600px 600px;
  gap: 40px;
  align-self: center;
}

.board {
  background-color: darkseagreen;
}

.page-layout {
  display: grid;
  grid-template-rows: 80px 100px 720px;
  grid-template-columns: 1fr;
  justify-items: center;
}
